@import '../styles/variables.css';

.container {
  margin: 0;
  padding: 0;
  width: var(--listSearchWidth);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  border-right: 1px solid var(--lineColor);
}
