html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { border-collapse: collapse; }
* { border-collapse: inherit; }

html,
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  height: 100%;
}

*:not(body) {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

/* img {
  max-width: 100%;
  height: auto;
  border: 0;
} */
